*
{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
#m1
{
    font : 20px bold solid black;
    background-color: peru;
    text-align: right;
    position: relative;
    margin: 0px 0px 0px 87%;
    margin-top: -3%;
    border: 2px solid black;
    width: 10px;
}
#m2
{
    font: 20px bold solid black;
    background-color: rgb(205, 63, 63);
    text-align: right;
    position: relative;
    margin: 0px 0px 0px 93%;
    margin-top: -3%;
    border: 2px solid black;
    width: 10px;
}
#m3
{
    font: 20px bold solid black;
    background-color: rgb(205, 63, 158);
    text-align: right;
    position: relative;
    margin: 0px 0px 0px 93%;
    margin-top: -3%;
    border: 2px solid black;
    width: 10px;
}
p{
    border: 5px solid black;
    background-color: grey;
    width: 95%;
    
    font-family: Helvetica;
    color: black;
    text-align: justify;
    padding: 10px;
}
.row{
    width: 100%;
}
@media (min-width:992px) {
    .col-lg-1, .col-lg-2,.col-lg-3
    {
        float: left;
        border: 5px solid black;
        border-style: none;
    }
    .col-lg-1{
        width: 33.33%;
    }
    .col-lg-2{
        width: 33.33%;
    }
    .col-lg-3{
        width: 33.33%;
    }
}
@media (min-width:768px) and (max-width:991px)
{
    .col-md-1, .col-md-2, .col-md-3
    {
        border: 5px solid black;
    }
    .col-md-1{
        width: 33.33%;
        float: left;
    }
    .col-md-2{
        width: 33.33%;
        float: right;
    }
    .col-md-3{
        width: 33.33%;
        float: none;
    }
}
@media  (max-width:767px)
{
    .col-lw-1, .col-lw-2, .col-lw-3
    {
        float: left;
        border: 5px solid black;
    }
    .col-lw-1{
        width: 100%;
    }
    .col-lw-2{
        width: 100%;
    }
    .col-lw-3{
        width: 100%;
    }
}